#timeslider {
  fill: white;
  color: white;
  display: flex;
  flex-flow: column;
  padding-top: 5px;
}

#timeslider .timeslider-chart {
  display: flex;
  justify-content: center;
}

#timeslider .label {
  font-size: 16px;
}

#play-button {
  background: #ffffff;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: #494949;
  margin: 0;
  padding: 0 12px;
  width: 80px;
  cursor: pointer;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
}

 

.ticks {
  font-size: 10px;
}

.ticks text.current {
  font-size: 13px;
  font-weight: bold;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #dcdcdc;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: pointer;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}