/* the outer beige container */
.waffle-chart {
  display: flex;
  justify-content: flex-start;
  padding-left: 0px;
  padding-right: 5px;
}

.waffle-chart .group-container {
  display: flex;
  flex-flow: column-reverse;
  margin-right: 5px;
}


.waffle-chart .container {
  display: flex;
  align-content: flex-bottom;
  justify-content: flex-start;
  flex-flow: column;
}

.waffle-chart .box-container {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 60px;
  height: 600px;
  justify-content: flex-start;
  align-content: flex-start;
}

text.death-month  {
  font-size: 12px;
  fill: #d4d4d4 !important;
}



line.death-month {
  stroke-width: 1px;
  stroke: #d4d4d4 !important;
}



#death-waffle-months {
  margin-left: -7px;
  z-index: 200;
}

#state-death-waffle-chart.waffle-chart .box-container {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 2px;
  width: 50px;
  height: 200px;
  justify-content: flex-start;
  align-content: flex-start;
}
.waffle-chart .box {
  width: 5px;
  height: 5px;
  margin: .5px;
  z-index: 0;
  background-color: #FF7373;
  position: relative;
  -moz-border-radius: .5px;
  -webkit-border-radius: .5px;
  border-radius: .5px; 
  transform: scale(0);
}
.waffle-chart .label-container, .count-container {
  display: flex;
  margin: 2px;
  width: 50px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  justify-content: center;
}
.waffle-chart .label-container {
  line-height: 16px;
}

.waffle-chart .count-container {
  font-size: 14px;
}


#state-death-waffle-chart  {
  flex-flow: row;
  width: 300px;
  flex-wrap: wrap;
  justify-content: flex-start;

}
#state-death-waffle-chart.waffle-chart .group-container {
  display: flex;
  flex-flow: row;
  margin-bottom: 3px;

}
#state-death-waffle-chart .group-container .box-container {
  height: 22px;
  flex-flow: column;
  flex-wrap: wrap;
}
#state-death-waffle-chart .count-container {
  width: unset;
  padding-left: 4px;
}
#state-death-waffle-chart .label-container {
  justify-content: flex-start;
  width: 120px;
}
#state-death-waffle-chart.waffle-chart .box {
  transform: unset;
}